{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {%  include 'home/hero.html.twig' %}
    {% include 'home/counter.html.twig' %}
    {% include 'home/lastpark.html.twig' %}
    {% include 'home/clients.html.twig' %}
    {% include 'home/lastnews.html.twig' %}

{% endblock %}
