<!-- =======Last park add ======= -->
<section id="values" class="values">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Park</h2>
            <p>Nos dernières acquisitions</p>
        </header>

        <div class="row">
            {% for vehicule in vehicules %}
                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up" data-aos-delay="200">
                        <div class="portfolio-links">
                            <a href="{{ path('vehicule_details', {'slug': vehicule.slug}) }}" title="More Details">
                                <img src={{ vich_uploader_asset(vehicule, 'imageFile') | imagine_filter('miniature') }} class="img-fluid"
                                     alt="">
                            </a>
                        </div>
                        <h3>{{ vehicule.nom }}</h3>
                        <p>{{ vehicule.description | u.truncate(50, '...', false) }}</p>
                        <p> Année: {{ vehicule.dateDeSortie|date('d/m/Y') }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

</section><!-- End last park Add -->