<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Blog</h2>
            <p>Nos dernières actualités</p>
        </header>

        <div class="row">
            {% for blogpost in blogposts %}
            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img"><img src="assets/img/pricing-free.png" class="img-fluid" alt=""></div>
                    <h3 class="post-title">{{ blogpost.titre }}</h3>
                    <p>{{ blogpost.contenu|u.truncate(200, '...', false) }}</p>
                    <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i
                                class="bi bi-arrow-right"></i></a>
                    <span class="post-date mt-3 text-end">Ajouté le {{ blogpost.createdAt|date('d/m/Y') }}</span>
                </div>
            </div>
            {%  endfor %}
        </div>

    </div>

</section><!-- End Recent Blog Posts Section -->