<section>
    <div class="blog-comments">

        <h4 class="comments-count">Commentaires: </h4>
        <div class="row justify-content-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% for com in commentaires %}
        <div id="comment" class="comment">
            <div class="d-flex">
                <div class="comment-img"><img src="assets/img/blog/comments-1.jpg" alt=""></div>
                <div>
                    <h5>
                        <a href="">{{ com.auteur }}</a>
                        <a class="reply" data-bs-toggle="collapse" href="#collapseExample" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-reply-fill"></i> Reply
                        </a>
                    </h5>
                    <time datetime="2020-01-01">{{ com.createdAt|date('d/m/Y') }}</time>
                    <p>{{ com.contenu }}</p>
                </div>
            </div>

        </div><!-- End comment #1 -->
        {% endfor %}

        <!-- Button trigger modal -->
        <div class="collapse" id="collapseExample">
            <h5>Laissez un commentaire: </h5>
            <div class="card card-body">
                {{ form(form) }}
        </div>
    </div><!-- End blog comments -->
</section>