<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between mb-2">

        <a href="{{ path('home') }}" class="logo d-flex align-items-center">
        <img src={{ asset("assets/img/logo.png") }} alt=""/>
        <span>Mobility</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href={{ path('apropos') }}>About</a></li>
                <li class="dropdown"><a href={{ path('park') }}><span>Park</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        {% for categorie in categorieNavbar() %}
                            <li>
                                <a href={{ path('park_categorie', {'slug': categorie.slug}) }}>{{ categorie.nom }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a href={{ path('blog_post') }}>Blog</a></li>
                <li><a class="getstarted scrollto" href={{ path('contact') }}>CONTACT</a></li>
                <li><a class="nav-link scrollto" href={{ path('app_login') }}>Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->