{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href={{ path('home') }}>Home</a></li>
                    <li><a href={{ path('blog_post') }}>Article</a></li>
                    <li>Détail de l'article</li>
                </ol>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Blog Single Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-8 entries">

                        <article class="entry entry-single">

                            <div class="entry-img">
                                <img src={{ asset("assets/img/blog/blog-1.jpg") }} alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                <a href="blog-single.html">{{ blogpost.titre }}</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                href="blog-single.html">John Doe</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                                href="blog-single.html">
                                            <time datetime="2020-01-01">Jan 1, 2020</time>
                                        </a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                                href="blog-single.html">12 Comments</a></li>
                                </ul>
                            </div>

                            <div class="entry-content">

                                <blockquote>
                                    <p>{{ blogpost.slug }}
                                    </p>
                                </blockquote>

                                <p>
                                    {{ blogpost.contenu }}
                                </p>

                            </div>

                            <div class="entry-footer">
                                <i class="bi bi-folder"></i>
                                <ul class="cats">
                                    <li><a href="#">Author</a></li>
                                    <li>Article ajouté le: {{ blogpost.createdAt|date('d/m/Y') }}</li>
                                </ul>

                            </div>

                        </article><!-- End blog entry -->
                        {% include 'partials/commentaire-form.html.twig' %}
                    </div><!-- End blog entries list -->

                </div>

            </div>
        </section><!-- End Blog Single Section -->

    </main><!-- End #main -->
{% endblock %}
