{% extends 'base.html.twig' %}

{% block title %}Notre flotte{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href={{ path('home') }}>Home</a></li>
                    <li>Park</li>
                </ol>
            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Categories Section ======= -->
        <section id="portfolio" class="portfolio">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Notre flotte par catégories</h2>
                    <p>Odit est perspiciatis laborum et dicta</p>
                </header>

                <div class="row">
                    {% for vehicule in vehicules %}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="{{ vich_uploader_asset(vehicule, 'imageFile')|imagine_filter('portfolio') }}" class="img-fluid rounded shadow m-2" alt="">
                                <div class="portfolio-info">
                                    <h4>{{ vehicule.nom }}</h4>
                                    <p>Autonomie {{ vehicule.autonomie }} km</p>
                                    <p>Vitesse Max {{ vehicule.vitesseMax }} km/h</p>
                                    <div class="portfolio-links">
                                        <a href={{ path('vehicule_details', {'slug': vehicule.slug}) }} title="More Details"><i class="bi bi-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

        </section><!-- End Categories Section -->

    </main><!-- End #main -->

{% endblock %}
