{% extends 'base.html.twig' %}

{% block title %}Notre flotte{% endblock %}

{% block body %}
    <main id="main">

        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href={{ path('home') }}>Home</a></li>
                    <li>Park</li>
                </ol>
            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Categories Section ======= -->
        <section id="values" class="values">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Tous nos véhicules</h2>
                    <p>Odit est perspiciatis laborum et dicta</p>
                </header>

                <div class="row">
                    {% for vehicule in vehicules %}
                        {# {% set vehicule = categorie.vehicules|last %} #}
                        <div class="col-lg-4 mt-4 rounded-bottom shadow">
                            <div class="box" data-aos="fade-up" data-aos-delay="200">
                                <a href={{ path('vehicule_details', {'slug': vehicule.slug}) }}>
                                    <img src="{{ vich_uploader_asset(vehicule, 'imageFile')|imagine_filter('miniature') }}"
                                         class="img-fluid" alt=""></a>
                                <h3>{{ vehicule.nom }}</h3>
                                <p>{{ vehicule.description }}</p>
                                <p><strong>Prix:</strong> {{ vehicule.prix }} €</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End Categories Section -->

    </main><!-- End #main -->

{% endblock %}
