{% extends 'base.html.twig' %}

{% block title %}Nom du vehicule{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href={{ path('home') }}>Home</a></li>
                    <li>Détails du véhicule</li>
                </ol>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper-container">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img src="{{ vich_uploader_asset(vehicule, 'imageFile')|imagine_filter('full') }}"
                                         class="rounded-3 shadow" alt="">
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Informations:</h3>
                            <ul>
                                {% if vehicule.park %}
                                    <li><strong>En stock</strong></li>
                                    {% if vehicule.enVente %}
                                        <li><strong>Disponible à la vente </strong></li>
                                    {% else %}
                                        <li><strong>Disponible à la location</strong></li>
                                    {% endif %}
                                {% else %}
                                    <li><strong>Pas en stock</strong></li>
                                {% endif %}
                                <li><strong>Marque: </strong>{{ vehicule.nom }}y</li>
                                {% for categorie in vehicule.categorie %}
                                    <li><strong>Catégorie: </strong>{{ categorie.nom }}</li>
                                {% endfor %}
                                <li><strong>Autonomie: </strong>{{ vehicule.autonomie }} km</li>
                                <li><strong>Vitesse Maximale: </strong>{{ vehicule.vitesseMax }} km/h</li>
                                <li><strong>Date de sortie: </strong>{{ vehicule.dateDeSortie|date('Y') }}</li>
                                <li><strong>Prix: </strong>{{ vehicule.prix }} €</li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>{{ vehicule.slug }}</h2>
                            <p>{{ vehicule.description }}</p>
                        </div>
                    </div>

                </div>
                {% include 'partials/commentaire-form.html.twig' %}

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
{% endblock %}
