{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"> Interface d'administration</h1>
        <p class="lead">Bienvenue dans votre interface d' administration de votre plateforme!</p>
    </div>

{% endblock %}