{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href={{ path('home') }}>Home</a></li>
                <li>Contact</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-8">

                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Address</h3>
                                <p>A108 Adam Street,<br>New York, NY 535022</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-telephone"></i>
                                <h3>Call Us</h3>
                                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info@example.com<br>contact@example.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-clock"></i>
                                <h3>Open Hours</h3>
                                <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <h3 class="text-center mb-5">Formulaire</h3>
                    <div class="row gy-4">
                        {{ form_start(form) }}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="col-md-12">
                            <label class="form-label" for="contactName">
                                {{ form_label(form.nom) }}
                            </label>
                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="contactEmail">
                                {{ form_label(form.email) }}
                            </label>
                            {{ form_widget(form.email) }}
                        </div>

                        <div class="col-md-12 mt-4">
                            <label class="form-label" for="contactMessage">
                                {{ form_label(form.message) }}
                            </label>
                            {{ form_widget(form.message) }}
                        </div>

                        <div class="col-md-12 text-center mt-5">
                            {{ form_row(form.envoyer) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Contact Section -->
{% endblock %}
