<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Google Fonts -->
            <link
                    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
                    rel="stylesheet">

            <!-- Vendor CSS Files -->
            <link href={{ asset("assets/vendor/bootstrap-icons/bootstrap-icons.css") }} rel="stylesheet">
            <link href={{ asset("assets/vendor/aos/aos.css") }} rel="stylesheet">
            <link href={{ asset("assets/vendor/remixicon/remixicon.css") }} rel="stylesheet">
            <link href={{ asset("assets/vendor/swiper/swiper-bundle.min.css") }} rel="stylesheet">
            <link href={{ asset("assets/vendor/glightbox/css/glightbox.min.css") }} rel="stylesheet">

            <!-- Template Main CSS File -->
            <link href={{ asset("assets/css/style.css") }} rel="stylesheet">
        {% endblock %}
    </head>

    <body >
    {% include 'partials/navbar.html.twig' %}
        {% block body %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
    </body>
    {% block javascripts %}
                    {{ encore_entry_script_tags('app') }}
        <!-- Vendor JS Files -->
        <script src={{ asset("assets/vendor/aos/aos.js") }}></script>
        <script src={{ asset("assets/vendor/php-email-form/validate.js") }}></script>
        <script src={{ asset("assets/vendor/swiper/swiper-bundle.min.js") }}></script>
        <script src={{ asset("assets/vendor/purecounter/purecounter.js") }}></script>
        <script src={{ asset("assets/vendor/isotope-layout/isotope.pkgd.min.js") }}></script>
        <script src={{ asset("assets/vendor/glightbox/js/glightbox.min.js") }}></script>

        <!-- Template Main JS File -->
        <script src={{ asset("assets/js/main.js") }}></script>
    {% endblock %}
</html>
